<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<h4>{{hole}}</h4>

		<input type="text" v-model="numero">
		<button type="button" v-on:click="addnumero(numero)"> add num</button>
		<span>{{numero}}</span>
		<ul>
			<li v-for="n of arraynums">{{n}}</li>
		</ul>
	</div>
	<script type="text/javascript">
		var app= new Vue({
			el:'#app',
			data:{
				hole:'el sentimiento original',
				numero:'',
				arraynums:[1,2,3]
			},
			methods:{
				addnumero(dato){
					if (datos) {}
					this.arraynums.push(dato);
				}
			}
		});
	</script>
</body>
</html>